/* BASE */
*, *::before, *::after {
    caret-color: transparent;
}


body {
    background-color: #F9FAFC;
    font-family: Kodchasan, sans-serif;
    max-width: 1500px;
}

a {
    text-decoration: none;
    color: #BF4B53;
}

a:hover {
    color: #BF4B53;
    text-decoration: underline;
}

.brand {
    font-family: Kodchasan, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #BF4B53;
}

.navbar-brand {
    margin-top: 5px;
}

.navbar {
    background-color: #FFDEDE;
}

#navbarText {
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #732d32;
    text-decoration: underline #732d32;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline #BF4B53;
    color: #BF4B53;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #BF4B53;
    font-weight: 700;
}

.brand > img {
    max-width: 50px
}

.main-bg {
    background-color: #F9FAFC;
}

.footer {
    background-color: #FFDEDE;
    color: #000000E6;
}

.footer-socials > a {
    color: #000000E6;
    font-size: 1.4em;
}

.footer-socials > a :hover{
    color: #BF4B53;
}

.page-link {
    color: #BF4B53
}

.page-link:hover {
    border-color:#bf4b53;
    color: #BF4B53;
    background-color: white;
}

.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(191, 75, 83, .25);
    color: #BF4B53;
    background-color: white;
}
/* INDEX */

.hero-image {
    background-image: url('https://res.cloudinary.com/dukqu7lia/image/upload/v1697231665/index_hero.jpg');
    background-size: cover;
    background-position: center 80%;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 25%;
    margin-top: 1.5%;
}

.introduction-text, .error-code-text {
    text-align: center;
    background-color: rgba(255, 222, 222, 0.7);
    margin: 0 15%;
    padding: 2%;
}

.image-container {
    position: relative;
}

.image-banner {
    position: absolute;
    top: 5%;
    min-width: 30%;
    left: 0;
}

.banner-bkgd-beginner{
    background-color: #F2DBDD;
}

.banner-bkgd-intermediate{
    background-color: #D99398;
}

.banner-bkgd-advanced{
    background-color: #BF4B53;
}

.difficulty {
    color: #000000E6;
    font-weight: 700;
    margin: 0.5rem;
    text-transform: uppercase;
    text-align: center;
}

.class-link{
    color: #BF4B53;
}

/* Lesson Detail */

.masthead {
    margin-top: 1.5%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-coach{
    overflow: hidden;
    position: relative;
    display: inline-block;
}


.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.coach-image {
    max-width: 250px;
    max-height: 250px;
}

.coach-text {
    text-align: center;
}

.coach-text .specialization {
    font-size: 1.2em;
}

.booking-button-container {
    display: flex;
    justify-content: center;
}

.booking-button {
    background-color: #FFDEDE;
    color: #BF4B53;
    font-weight: 700;
    outline: 0.5px solid #000000E6;
}

.booking-button:hover{
    color: #732d32;
    outline: 0.5px solid white;
}

.lesson-text {
    color: #BF4B53;
    position: relative;
    padding-right: 9px;
}

.lesson-text > h2{
    text-align: center;
}

.lesson-banner > p{
    margin: 0;
    padding: 2%;
    font-weight: 700;
    font-size: 1.3em;
}

.lesson-time,
.lesson-duration,
.lesson-location,
.coach-specialization {
    color: #000000E6;
}

.lesson-time-label,
.lesson-duration-label,
.lesson-location-label,
.coach-specialization-label {
    color: #BF4B53;
}

.lesson-description {
    color: #000000E6;
}

.card {
    border: none;
    background-color: transparent;
}

.lesson-detail-img {
    max-height: 200px;
}

.btn-like {
    color: #BF4B53;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #BF4B53;
    background: transparent;
    border: none;
}

.feedback-time {
    color: #BF4B53;
}

.btn-form {
    background-color: #FFDEDE;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
    color: #BF4B53;
    width: 100%;
    outline: 0.5px solid #000000E6;
}

.btn-form:hover {
    color: #732d32;
    outline: 0.5px solid white;
}

/* About page */

.welcome-about,
.welcome-contact,
.welcome-my-bookings,
.about-coach-heading {
    text-align: center;
    background-color: rgb(255, 222, 222);
    margin: 0 15%;
    padding: 2%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text > h3 {
    text-decoration: underline #D99398;
}

.about-coach-name {
    text-align: center;
}

.indented-paragraph {
    text-indent: 20px;
    line-height: 2.5em;
}

.highlighted-text {
    color: #BF4B53;
}

/* Contact Page */

#div_id_email,
#div_id_contact_message {
    margin-top: 1.5rem;
}

/* My Bookings */

.booking-img {
    object-fit: cover;
    aspect-ratio: 16/9;
    height: 100%;
    max-height: 180px;
    width: auto;
}

.booking-details {
    box-shadow: 0px 0px 5px 5px rgb(213 213 221 / 80%);
    outline: none;
}

.confirmed {
    outline: 1px solid #198754!important;
    padding: 5px 0;
    max-width: 70%;

}

.pending {
    outline: 1px solid #ffc107!important;
    padding: 5px 0;
    max-width: 70%;

}

.unconfirmed {
    outline: 1px solid #dc3545!important;
    padding: 5px 0;
    max-width: 70%; 
}

@media (min-width: 1200px) {
    .booking-summary {
        max-width: 618px;
    }
  }

/* Sign up, Login, Sign out*/

.btn-signup {
    background-color: rgb(255, 222, 222);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
    color: #BF4B53;
    width: 20%;
    outline: 0.5px solid #000000E6;
}

.btn-signup:hover {
    color: #732d32;
    outline: 0.5px solid white;
}

.errorlist {
    padding-bottom: 1em;
    max-width: fit-content;
    text-align: center;
    color: #dc3545;
    list-style-type: none;
    font-weight: bold;
}

/* 403, 404, 405, 500 pages */

.head-image {
    background-image: url('https://res.cloudinary.com/dukqu7lia/image/upload/v1698331770/error_image.jpg');
    background-size: cover;
    background-position: center 80%;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 25%;
    margin-top: 1.5%;
}