{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="welcome-about mt-5">
            <h1>About Roller Criú</h1>
            <h4>We are the only roller skating club in Ireland. Let's rock and roll!</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mt-3 left about-text">
            <h3>How we got started</h3>
            <p>Roller Criú, a pioneering roller skating initiative, was born out of Roisin Smith's passion and
                determination in the year 2020. Faced with the frustrating realization that there was no formal
                establishment dedicated to teaching the art of roller skating, Roisin decided to take matters into her
                own hands. Fuelled by her love for roller skating and a desire to share it with others, she founded
                Roller Criú. This unique venture was designed to cater to everyone, from those taking their first
                tentative steps on wheels to those aiming for competition-level skills. Through a combination of
                dedication, innovative teaching methods, and a welcoming atmosphere, Roller Criú has since become a
                thriving community and a go-to destination for roller skaters of all levels, ensuring that the joy of
                roller skating is accessible to all.</p>
        </div>
        <div class="col-lg-4 mt-3 right">
            <img src="https://res.cloudinary.com/dukqu7lia/image/upload/v1697368013/roisin_smith_feature.jpg" alt="" class="img-fluid founder-image">
            <p class="mt-3">Roisin Smith, Founder & Head Coach</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mt-3 about-coach-heading">
            <h3>Our Coaches</h3>
        </div>
    </div>
    <div class="row">
        <!-- Coaches Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for coach in coach_list %}
                <div class="col-md-4 mb-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="coach-image image-container">
                                {% if "placeholder" in coach.image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dukqu7lia/image/upload/v1697297007/coach_placeholder.png">
                                {% else %}
                                <img class="card-img-top" src=" {{ coach.image.url }} ">
                                {% endif %}
                                <p class="card-text my-2"><span class="about-coach-name">{{ coach.first_name }}
                                        {{ coach.last_name }}</span>
                                </p>
                                <p class="card-text coach-specialization-label">Specialization: <span
                                        class="coach-specialization">{{ coach.specialization|capfirst }}</span>
                                </p>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3%}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{%endblock%}