{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="jumbotron">
        <div class="welcome-contact mt-5 text-center">
            <h1>Contact Us</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-5 left">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <h3>Address:</h3>
                            <h4>1 Roller Way, Cork</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <h3>Email:</h3>
                            <h4>info@rollercriu.com</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <h3>Phone:</h3>
                            <h4>800-ROLLER-CRIU</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-12 mt-5 left text-center">
            <h1>Thank You!</h1>
            <br>
            <h4>Your message has been successfully submitted.</h4>
            <h4>We will get back to you as soon as possible.</h4>
        </div>
    </div>
</div>
{% endblock %}