{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for class in class_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                {% if "placeholder" in class.featured_image.url %}
                                <h1> I'm placeholder</h1>
                                {% else %}
                                <img class="card-img-top" src=" {{ class.featured_image.url }} ">
                                {% endif %}
                                <a href="#" class="class-link">
                                    <h2 class="card-title">{{ class.title }}</h2>
                                    <p class="card-text">{{ class.class_time }}</p>
                                    <p class="card-text">{{ class.location }}</p>
                                </a>
                                </div>
                                <hr>
                                <p class="card-text text-muted h6">{{ class.created_on }}
                                    <i class="far fa-heart"></i> {{ class.number_of_likes }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:3%}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" 
            class="page-link">&laquo; PREV</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" 
            class="page-link">NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
</div>

{%endblock%}