{% extends 'base.html' %} 
{% load static %}
{% load tz %}
{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container-fluid">
        <div class="row g-3">
            <div class="d-block col-lg-8 masthead-image img-fluid">
                <!-- to display placeholder image if feautre image was not uploaded -->
                {% if "placeholder" in lesson.featured_image.url %}
                <img src="https://res.cloudinary.com/dukqu7lia/image/upload/v1696354385/placeholder.jpg" width="100%"
                    height="100%">
                {% else %}
                <img src=" {{ lesson.featured_image.url }} " width="100%">
                {% endif %}
            </div>
            <div class="d-lg-block col-lg-4 masthead-coach">
                <div class="coach-image d-sm-none d-lg-block m-auto">
                    {% if "placeholder" in coach.image.url %}
                    <!-- to display placeholder image if feautre image was not uploaded -->
                    <img src="https://res.cloudinary.com/dukqu7lia/image/upload/v1697297007/coach_placeholder.png"
                        class="img" width="100%">
                    {% else %}
                    <img class="img-fluid coach-image" src=" {{ coach.image.url }} " width="100%">
                    {% endif %}</div>
                <div class="d-lg-block coach-text m-3">
                    <h4 class="coach-name">Coach {{ coach.first_name }}</h4>
                    <p class="specialization">{{ coach.specialization|capfirst }}</p>
                </div>
                <hr>
                {% if user.is_authenticated %}
                    {% if past_lesson %}
                        <h5>This lesson has started. You can no longer book this lesson.</h5>
                    {% else %}
                        {% if not has_booking %}
                        <div class="masthead-booking">
                            <h5>Booking for: </h5>
                            <p>{{ user.username }}</p>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group" id="booking-form-elements">
                                    <label for="{{ booking_form.places_reserved.id_for_label }}" class="col-form-label">Number of Places Reserved*</label>
                                    <select class="form-select" name="places_reserved" id="{{ booking_form.places_reserved.id_for_label }}">
                                        <!-- One user can only reserve one slot per lesson -->
                                        <option value="1" selected>1</option>
                                    </select>
                                </div>
                                <button type="submit" id="booking-button" class="btn btn-lg booking-button rounded-pill px-5 my-3">Book!</button>
                            </form>
                        </div>
                        {% else %}
                        <div class="masthead-booking">
                            <h5>You have already submitted a booking this class!</h5>
                            <p>Please check <a href="{% url 'my_bookings' %}"><strong class="highlighted-text">'My Bookings'</strong></a> for booking status</p>
                            <button type="submit" class="btn btn-lg booking-button rounded-pill px-5 my-3" disabled>Book!</button>
                        </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <div class="masthead-booking">
                        <h5>Please Sign in to book this class!</h5>
                        <button type="submit" class="btn btn-lg booking-button rounded-pill px-5 my-3" disabled>Book!</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 lesson-text">
            <!-- display lesson's level -->
            {% if lesson.lesson_level == 'beginner'%}
            <div class="lesson-banner banner-bkgd-beginner">
                <p class="difficulty">beginner</p>
            </div>
            {% elif lesson.lesson_level == 'intermediate'%}
            <div class="lesson-banner banner-bkgd-intermediate">
                <p class="difficulty">intermediate</p>
            </div>
            {% elif lesson.lesson_level == 'advanced'%}
            <div class="lesson-banner banner-bkgd-advanced">
                <p class="difficulty">advanced</p>
            </div>
            {% endif %}
            <h2 class="lesson-title p-2 mt-2">{{ lesson.title|title }}</h2>
            <p class="lesson-time-label">Start time: <span class="lesson-time">{{ lesson.lesson_start|date:"jS M Y, H:i a" }}</span></p>
            <p class="lesson-duration-label">Duration: <span class="lesson-duration">{{ lesson.duration }}</span></p>
            <p class="lesson-location-label">Location: <span class="lesson-location">{{ lesson.location|title }}</span></p>

            <!-- safe filter is used to make sure the conten is being displayed -->
            <span class="card-text lesson-description">{{ lesson.content | safe }}</span>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <div class="row">
                    <!-- Likes -->
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'lesson_like' lesson.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="lesson_id" value="{{lesson.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="lesson_id" value="{{lesson.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ lesson.number_of_likes }}</span>
                        </strong>
                    </div>
                    <!-- Number of feedbacks -->
                    <div class="col-1">
                        {% with feedbacks.count as total_feedbacks %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_feedbacks }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- horizontal line -->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <!-- Feedbacks area -->
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Feedbacks:</h3>
            <div class="card-body">
                {% for feedback in feedbacks %}
                <div class="feedbacks" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ feedback.username }}
                        <span class="feedback-time font-weight-normal">
                            {{ feedback.created_on }}
                        </span> wrote:
                    </p>
                    {{ feedback.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Feedback form -->
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if submitted_feedback %}
                <div class="alert alert-success" role="alert">
                    Your feedback is waiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a feedback:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" class="feedback-form">
                    {{ feedback_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-lg btn-form my-3 p-3 rounded-pill">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}