{% extends 'base.html' %} 
{% load static %}
{% block content %}

<div class="container">
    <div class="row booking-title">
        <h3>Upcoming Lesssons</h3>
    </div>
    <hr>
    <div class="row">
        <div class="col card mb-4 mt3 left top">
            <!-- The upcoming lesson that the user booked will be displayed here -->
            {% for booking in bookings %}
            <div class="booking-details booking-card">
                <div class="row">
                    <div class="col-auto">
                        <a href="{% url 'lesson_detail' booking.lesson.lesson.slug %}" class="lesson-link">
                            
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>