{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="jumbotron">
        <div class="welcome-my-bookings mt-5 text-center">
            <h1>My Bookings</h1>
        </div>
    </div>

    <div class="row mt-4 booking-title">
        <h3>Upcoming Bookings</h3>
        <hr>
    </div>
    <div class="col-12 card mb-4 left top">
        <div class="card-body">
            {% if future_bookings %}
            {% for booking in future_bookings %}
            <div class="booking-details booking-card my-4">
                <div class="row justify-content-center justify-content-xxl-between align-items-center flex-lg-row mx-5">
                    <div class="col-auto booking-img-container">
                        <a href="{% url 'lesson_detail' booking.lesson.slug %}" class="lesson-link">
                            <div class="col-auto">
                                {% if "placeholder" in booking.lesson.featured_image.url %}
                                <img class="booking-img d-none d-md-inline-block"
                                    src="https://res.cloudinary.com/dukqu7lia/image/upload/v1696354385/placeholder.jpg"
                                    alt="Default Lesson image">
                                {% else %}
                                <img src="{{ booking.lesson.featured_image.url }}" class="booking-img d-none d-md-block"
                                    alt="{{ lesson.location|title }}">
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <div class="col-auto booking-summary my-3">
                        <div class="row">
                            {% if booking.lesson.lesson_level == 'beginner' %}
                            <div class="banner-bkgd-beginner d-inline">
                                <p class="difficulty">beginner</p>
                            </div>
                            {% elif booking.lesson.lesson_level == 'intermediate' %}
                            <div class="banner-bkgd-intermediate">
                                <p class="difficulty">intermediate</p>
                            </div>
                            {% elif booking.lesson.lesson_level == 'advanced' %}
                            <div class="banner-bkgd-advanced">
                                <p class="difficulty">advanced</p>
                            </div>
                            {% endif %}
                            <a href="{% url 'lesson_detail' booking.lesson.slug %}" class="lesson-link">
                                <h4 class="text-center mt-2">{{ booking.lesson.title|title }}</h4>
                            </a>
                            <p class="text-center">
                                Starting time: {{ booking.lesson.lesson_start|date:"jS M Y, H:i a" }}
                                <br>
                                Location : {{ booking.lesson.location|title }}
                            </p>
                        </div>
                        <div class="row booking-icon">
                            <div class="col offset-3">
                                {% if booking.approved == 'approved' %}
                                <p class="card-text confirmed h6 text-white text-center font-weight-bold pb-1"><i
                                        class="far fa-check-circle "></i> Confirmed</p>
                                {% elif booking.approved == 'pending' %}
                                <p class="card-text pending h6 text-muted text-center font-weight-bold pb-1"><i
                                        class="far fa-question-circle"></i> Pending Confirmation</p>
                                {% elif booking.approved == 'not_approved' %}
                                <p class="card-text unconfirmed h6 text-white text-center font-weight-bold pb-1"><i
                                        class="fa-regular fa-circle-xmark"></i> Unconfirmed</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-auto cancel-button mb-2">
                        <form method="post" action="{% url 'my_bookings' %}">
                            {% csrf_token %}
                            <input type="hidden" name="booking_id" value="{{ booking.id }}">
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure you want to cancel this booking?')">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No upcoming bookings.</p>
            {% endif %}
        </div>
    </div>

    <div class="row mt-4 booking-title">
        <h3>Past Bookings</h3>
    </div>
    <hr>
    <div class="col-12 card mb-4 mt-3 left top">
        <div class="card-body">
            {% if past_bookings %}
            {% for booking in past_bookings %}
            <div class="booking-details booking-card my-4">
                <div class="row justify-content-center justify-content-xxl-between align-items-center flex-lg-row mx-5">
                    <div class="col-auto booking-img-container">
                        <a href="{% url 'lesson_detail' booking.lesson.slug %}" class="lesson-link">
                            <div class="col-auto">
                                {% if "placeholder" in booking.lesson.featured_image.url %}
                                <img class="booking-img d-none d-md-inline-block"
                                    src="https://res.cloudinary.com/dukqu7lia/image/upload/v1696354385/placeholder.jpg"
                                    alt="Default Lesson image">
                                {% else %}
                                <img src="{{ booking.lesson.featured_image.url }}" class="booking-img d-none d-md-block"
                                    alt="{{ lesson.location|title }}">
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <div class="col-auto booking-summary my-3">
                        <div class="row">
                            {% if booking.lesson.lesson_level == 'beginner' %}
                            <div class="banner-bkgd-beginner d-inline">
                                <p class="difficulty">beginner</p>
                            </div>
                            {% elif booking.lesson.lesson_level == 'intermediate' %}
                            <div class="banner-bkgd-intermediate">
                                <p class="difficulty">intermediate</p>
                            </div>
                            {% elif booking.lesson.lesson_level == 'advanced' %}
                            <div class="banner-bkgd-advanced">
                                <p class="difficulty">advanced</p>
                            </div>
                            {% endif %}
                            <a href="{% url 'lesson_detail' booking.lesson.slug %}" class="lesson-link">
                                <h4 class="text-center mt-2">{{ booking.lesson.title|title }}</h4>
                            </a>
                            <p class="text-center">
                                Starting time: {{ booking.lesson.lesson_start|date:"jS M Y, H:i a" }}
                                <br>
                                Location : {{ booking.lesson.location|title }}
                            </p>
                        </div>
                        <div class="row booking-icon">
                            <div class="col offset-3">
                                {% if booking.approved == 'approved' %}
                                <p class="card-text confirmed h6 text-white text-center font-weight-bold pb-1"><i
                                        class="far fa-check-circle "></i> Confirmed</p>
                                {% elif booking.approved == 'pending' %}
                                <p class="card-text pending h6 text-muted text-center font-weight-bold pb-1"><i
                                        class="far fa-question-circle"></i> Pending Confirmation</p>
                                {% elif booking.approved == 'not_approved' %}
                                <p class="card-text unconfirmed h6 text-white text-center font-weight-bold pb-1"><i
                                        class="fa-regular fa-circle-xmark"></i> Unconfirmed</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-auto cancel-button mb-2">
                        <form method="post" action="{% url 'my_bookings' %}">
                            {% csrf_token %}
                            <input type="hidden" name="booking_id" value="{{ booking.id }}">
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure you want to delete this booking?')">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No past bookings.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}